<div class='container'>
  {{tasks-header model=model}}
  <div class='tasks-container'>
    <ol>
      {{#each model as |task|}}
        {{task-cell task=task model=model}}
      {{/each}}
    </ol>
  </div>
  {{tasks-summary model=model}}
</div>